# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*

# Dependencies / build
node_modules/
dist/
build/
